.auth-container {
  width: 300px;
  margin: auto;
  padding: 20px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.auth-container input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.auth-container button {
  width: 100%;
  padding: 10px;
  background-color:  #099978;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  cursor: pointer;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
  border-radius: 18px;
  font-family: century Gothic;
}

.auth-container .error {
  color: red;
  font-size: 14px;
}

.auth-container span {
  color: #eeb423;
  cursor: pointer;
  
}
